/**********************************************************************************************************************
 * Body                                                                                                               *
 **********************************************************************************************************************/
html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/**********************************************************************************************************************
 * Header                                                                                                             *
 **********************************************************************************************************************/
nav {
    background-color: #DCFCA6;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    position: sticky;
}

header {
    width: 100%;
    background: linear-gradient(105deg, #ACF432 65%, white 100%);
    display: inline-block;
    text-align: center;
}

header h1{
    font-size: 40px;
    text-align: center
}

#divLogo {
    float: left;
}

#divReseaux {
    float: right;
}

#divMenuPrincipal ul {
    background-color : rgba(120,120,120, 1);
    width : 100%;
    padding : 5px 0 5px 0;
    margin: 0;
}

#divMenuPrincipal li {
    margin: 0 5px 0 5px;
    font-family : 'Anton', sans-serif;
    font-weight : bold;
    display: inline;
    font-size : 20px;
    border-bottom : 1px solid black;
    color: #ff0000;
}

#divMenuPrincipal a {
    text-decoration: none;
    color: #ff0000;
}

#divMenuPrincipal li:hover{
    background: rgba(200,200,200,0.4) ;
    border-bottom : 2px solid black;
    color: #c10000;
}

#divMenuPrincipal a:hover {
    color: #c10000;
}

.sousListeDeroulante {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sousListeDeroulante {
    display: block;
}

.listeDeroulante::after {
    content: " ▼";
}

/**********************************************************************************************************************
 * Contenu                                                                                                            *
 **********************************************************************************************************************/
#divContenu {
    flex: 1 0 auto;
    padding: 0;
    box-shadow: 0 0 20px 2px #656565;
    background-color: #EDEEEA;
    border-radius: 10px;
    margin: 2% 2%;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

/**********************************************************************************************************************
 * Footer                                                                                                             *
 **********************************************************************************************************************/
footer {
    flex-shrink: 0;
}