/*font-family: 'Luckiest Guy', cursive; */
/*font-family: 'Anton', sans-serif;*/

body{
	padding :0; margin :0;
	text-align: center;
}


nav {
	background-color : #DCFCA6;
	padding: 0; margin: 0;
	text-decoration: none;
	text-align: center;
}

header{
	width : 100%;
	background : linear-gradient(105deg, #ACF432 65%, white 100%);
	display : inline-block;
	text-align: center;
}

header h1{
	font-size: 40px;
	text-align: center
	
}

.Tt{
	float: left;
}

.reseaux{
	float : right;	
}

.box-gauche{
	list-style : none;
	text-align : center;
	width : 14%;
	padding : 0; margin : 0 1%;
	border-radius: 10px ;
	position : absolute;
	box-shadow: 0px 0px 20px 2px #656565;
}

.box-gauche ul {
	text-align : left ;
	padding : 0 ; margin : 0 ;
	list-style : none;
	margin: 0 5px;
}

.box-droite{
	text-align: left;
	width : 14%;
	padding: 0 ; margin : 0 84%;
	position : absolute;
	float : right;
	border-radius : 10px ;
	box-shadow: 0px 0px 20px 2px #656565;
}

.box-droite a {
	font-family: 'Anton', sans-serif;
	font-size : 25px;
	text-decoration : underline;
	padding: 0 ;
	margin : 0;
}

.box-droite img {
	height: 40px; width: 40px;
	padding: 0 ;
	margin : 0;
}
.box-principale{
	padding : 0;
	box-shadow: 0px 0px 20px 2px #656565;
	background-color: #EDEEEA;
	border-radius: 10px;
	margin : 0 2%;
	font-size : 25px;
	font-family: 'Anton', sans-serif;
}

.menu ul {
	background-color : rgba(120,120,120, 1);
	width : 100% ;
	padding : 0; margin: 0px; 
}

.menu li {
	font-family : 'Anton', sans-serif;
	width : auto;
	padding: 0 ; margin:0;
	display: inline;
	font-size : 24px;
	text-decoration: none;
	border-bottom : 1px solid black;
}

.menu li:hover{
	font-weight : bold;
	width : 120%;
	background: rgba(200,200,200,0.4) ;
	border-bottom : 2px solid black;
}

#poles a{
	display : block;
	text-decoration :none;
	list-style: none ; 
}

#poles ul {
	transition : all linear;
	padding : 0;
	list-style : none ;
	text-align : center ;
	left :-999em;
	position : absolute;
} 

#poles li {
	position : relative;
	display : block;
}

#poles:hover ul {
	top : 49% ;
	left : 33% ;
}

#poles a {
	display : block;
}

.box-principale h2{
	font-family: 'Anton', sans-serif;
	font-size: 40px ;
	text-decoration : bold ;
	text-decoration : underline;
}

.articles ul{
	list-style: none;
	margin : auto; padding : 2%;
}

.articles li{
	box-shadow: 0px 0px 20px 2px #656565;
	background-color: #FBEDBF;
	margin : 2% 0 ;
}

.articles li a{
	max-height : 20% ;
	display : inline-block;
	padding: 0 ; margin : 1%;
	width : 95%;
	border-radius: 5px;
	text-align: left;
}

.articles li img{
	max-height : 350px;
	padding : 0 auto; margin : 0;
	float : left;
	width : auto; height: 100%;
	max-width : 40% ;
}
.articles p{
	margin : 0;	
	width: auto; height: 100%;
	font-size : 15px;
	text-decoration : none;
	word-wrap: break-word;
	text-align: center;
}
.organigramme img{
	width: 60%;
	height: auto;
}

h3 {
	text-align: center;
}

nav a {
	display:inline-block;
	color : black;
	text-decoration: none;
	margin: 0 5px;
}

input[type="submit"]{
	width : 5%;
	height : 2%;
}