/articles/*
!/articles/index.php
/goodies/*
!/goodies/index.php
/journaux/*
!/journaux/index.php
/-mvc/modele/connect/connectBarodine.php
/-mvc/modele/connect/connectBde.php

-mvc/modele/identifiants

.idea
*/*.iml
*.iml

.DS_Store