.jumbotron {
    /* Si on met le lien dans une variable, alors le chemin relatif sera faussé car accédé dans le css où est utilisée
    la variable. */
    background-image: url("./fondJumbotron.jpg");
}

@media (max-width: 767px) {
    /* Sur mobile on diminue la taille du jumbotron pour la visibilité */
    .jumbotron {
        padding: 10px 0 10px 0;
    }

    .logo-jumbotron {
        height: 150px;
    }

    .texte-jumbotron {
        display: none;
    }
}