/*######################################################################################################################
########################################################################################################################
###                                                     -- A --                                                      ###
###                                                                                                                  ###
###                                                      NAVBAR                                                      ###
########################################################################################################################
######################################################################################################################*/
.navbar { /* Navbar entière */
    margin-bottom: 50px; /* Espace sous la navbar */
    border-radius: 0; /* Les coins ne sont pas arrondis */
    background-color: var(--prim); /* Couleur de fond de base */
}

.navbar:before{ /* Entourloupe pour pouvoir poser une ombre qui s'étente en dessous à droite et à gauche de la navbar */
    content: " ";
    position:absolute;
    width: 150%;
    right: 0;
    bottom: 0;
    height: 20px;
    z-index: 0;
    -moz-box-shadow: 0 5px 4px #656565;
    -webkit-box-shadow: 0 5px 4px #656565;
    box-shadow: 0 5px 4px #656565;
}

.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover { /* Couleur des boutons quand sélectionnés ou survolés */
    background-color: var(--prim-select);
}

.navbar .icon-bar { /* Couleur des ||| trois barres horizontales quand l'écran est trop petit pour ouvrir */
    background-color: var(--sec);
}

.navbar .navbar-nav .nav-link, /* Couleur du texte qui est affiché de base dans la navbar */
.navbar .dropdown-toggle, /* Couleur du texte du menu d'ouverture du menu déroulant */
.navbar .dropdown-item { /* Couleur de texte des items du menu déroulant */
    color: var(--sec);
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link,
.navbar .dropdown a:hover,
.navbar .dropdown a:focus,
.navbar .dropdown-item.active,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus { /* Couleur et background si un menu est survolé ou sélectionné */
    color: var(--sec);
    background-color: var(--prim-select);
}

.navbar .nav-item.active:hover .nav-link,
.navbar .dropdown-item.active:hover,
.navbar .dropdown-item.active:focus,
.navbar .dropdown a:focus:hover { /* Background si un menu est sélectionné ET survolé */
    background-color: var(--prim-select-double);
}

.navbar .dropdown-menu { /* Couleur de background de l'intérieur du menu déroulant */
    background-color: var(--prim);
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- B --                                                      ###
###                                                                                                                  ###
###                                                    JUMBOTRON                                                     ###
########################################################################################################################
######################################################################################################################*/
.jumbotron { /* Retire la marge par défaut (vu qu'il faut coller la navbar) */
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
}

.jumbotron p,
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5 { /* Lueur blanche autour du texte du jumbotron */
    text-shadow:
            5px 5px 5px #f3f3f3,
            -5px 5px 5px #f3f3f3,
            5px -5px 5px #f3f3f3,
            -5px -5px 5px #f3f3f3;
}

/* S'il faut coller pour faire comme si sans jumbotron...
.jumbotron-admin { / * Retire la marge par défaut (vu qu'il faut coller la navbar) * /
    background-color: var(--prim);
    color: var(--sec);
    margin-bottom: 0;
    padding-bottom: 0;
}
*/

@media (max-width: 767px) { /* Le jumbotron ne sera pas fixe sur mobile (problèmes de performances) */
    .jumbotron {
        background-attachment: inherit;
    }
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- C --                                                      ###
###                                                                                                                  ###
###                                                    CAROUSELS                                                     ###
########################################################################################################################
######################################################################################################################*/
.carousel-images a,
.carousel-images a:hover { /* Les liens du carousel restent en blanc. */
    color: white;
}

.carousel-inner img { /* Images du carousel */
    width: 100%;
    min-height: 200px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- D --                                                      ###
###                                                                                                                  ###
###                                                   ALTERNATEURS                                                   ###
########################################################################################################################
######################################################################################################################*/
@media (max-width: 991px) {
    .alterneur-grand-tres-petit {
        display: none;
    }
    .alterneur-petit {
        display: block;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .alterneur-grand-moyen {
        display: none;
    }
}

@media (min-width: 992px) {
    .alterneur-petit {
        display: none;
    }
}

@media (max-width: 767px) {
    .alterneur-grand-tres-petit,
    .alterneur-grand-moyen {
        display: revert;
    }
    .alterneur-petit {
        display: none;
    }
}

@media (min-width: 767px) {
    .alterneur-mini {
        display: none;
    }
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- E --                                                      ###
###                                                                                                                  ###
###                                                      FOOTER                                                      ###
########################################################################################################################
######################################################################################################################*/
footer {
    padding: 25px;
    background-color: #f2f2f2;
}

.texte-footer {
    font-size: 10px;
    line-height: 10px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- F --                                                      ###
###                                                                                                                  ###
###                                                   PLAN DU SITE                                                   ###
########################################################################################################################
######################################################################################################################*/
.plan-du-site .list-group {
    margin-bottom: 0;
}

.plan-du-site .list-group-item-danger {
    color: var(--sec);
    background-color: var(--prim);
    border-color: var(--prim-border);
}

.plan-du-site .list-group-item-danger:hover {
    color: var(--sec);
    background-color: var(--prim-select);
    border-color: var(--prim-select-double-border);
}

.plan-du-site .list-group-item:not(.list-group-item-danger) {
    padding: 15px 10% 15px 10%;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- G --                                                      ###
###                                                                                                                  ###
###                                                     ARRONDIS                                                     ###
########################################################################################################################
######################################################################################################################*/
.arrondi {
    border-radius: 10px;
    overflow: hidden;
}

.arrondi-mini {
    border-radius: 5px;
    overflow: hidden;
}

.img-arrondi {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.img-arrondi-mini {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- H --                                                      ###
###                                                                                                                  ###
###                                                      OMBRE                                                       ###
########################################################################################################################
######################################################################################################################*/
.well, .ombre {
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- I --                                                      ###
###                                                                                                                  ###
###                                              MISE EN PAGE DU TEXTE                                               ###
########################################################################################################################
######################################################################################################################*/
.retrait {
    text-indent: 4em;
}

.liste-retrait {
    padding-left: 3em;
    margin-bottom: 0;
}

.liste-retrait li {
    text-indent: 0;
    padding-left: 1em;
    margin-bottom: 10px;
}

.pc { /* Petites capitales */
    font-variant: small-caps;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- J --                                                      ###
###                                                                                                                  ###
###                                                      INPUT                                                       ###
########################################################################################################################
######################################################################################################################*/
.input-invalide {
    background-color: #ff989880;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- K --                                                      ###
###                                                                                                                  ###
###                                                      DIVERS                                                      ###
########################################################################################################################
######################################################################################################################*/
.well > h1, .well > h2, .well > h3, .well > h4, .well > h5 { /* On retire la marge sous les titres dans les wells */
    margin-top: 0;
}

a, a:hover { /* On change la couleur des liens vers du rouge */
    color: var(--prim);
}

.div-miniature-articles { /* Limite la largeur de la miniature des articles dans la page articles */
    max-width: 480px;
    display: inline-block;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- L --                                                      ###
###                                                                                                                  ###
###                                            PARAMÉTRAGE DE LA FLEXBOX                                             ###
########################################################################################################################
######################################################################################################################*/
.page-complete {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 1 auto;
}
main {
    flex: 1 1 auto;
    overflow: auto;
}
footer {
    flex: 0 1 60px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- L --                                                      ###
###                                                                                                                  ###
###                                                BOUTONS VARIABLES                                                 ###
########################################################################################################################
######################################################################################################################*/
.btn-var {
    color: var(--sec);
    background-color: var(--prim);
    border-color: var(--prim-border);
}

.btn-var.focus, .btn-var:focus {
    color: var(--sec);
    background-color: var(--prim-select);
    border-color: var(--prim-select-double-border);
}

.btn-var:hover {
    color: var(--sec);
    background-color: var(--prim-select);
    border-color: var(--prim-select-double);
}

.btn-var.active, .btn-var:active, .open>.dropdown-toggle.btn-var {
    color: var(--sec);
    background-color: var(--prim-select);
    background-image:none;
    border-color: var(--prim-select-double);
}

.btn-var.active.focus, .btn-var.active:focus, .btn-var.active:hover, .btn-var:active.focus,
.btn-var:active:focus, .btn-var:active:hover, .open>.dropdown-toggle.btn-var.focus,
.open>.dropdown-toggle.btn-var:focus, .open>.dropdown-toggle.btn-var:hover {
    color: var(--sec);
    background-color: var(--prim-select-double);
    border-color: var(--prim-select-double-border);
}

.btn-var.disabled.focus, .btn-var.disabled:focus, .btn-var.disabled:hover, .btn-var[disabled].focus,
.btn-var[disabled]:focus, .btn-var[disabled]:hover, fieldset[disabled] .btn-var.focus,
fieldset[disabled] .btn-var:focus, fieldset[disabled] .btn-var:hover {
    background-color: var(--prim);
    border-color: var(--prim-border);
}

.btn-var .badge {
    color: var(--prim);
    background-color: var(--sec)
}