/*
element {
    --couleur: #dc3545;
    background-color: var(--couleur);
}
 */

/*######################################################################################################################
########################################################################################################################
###                                                     -- A --                                                      ###
###                                                                                                                  ###
###                                                      NAVBAR                                                      ###
########################################################################################################################
######################################################################################################################*/

/*######################################################################################################################
# I - Variables                                                                                                        #
######################################################################################################################*/
html {
    --navbar-couleur-1: #d9534f;
    --navbar-couleur-2: #c9302c;
    --navbar-couleur-3: #ac2925;
    --navbar-couleur-4: white;
}

/*######################################################################################################################
# II - Navbar en général                                                                                               #
######################################################################################################################*/
.navbar { /* Navbar entière */
    margin-bottom: 50px; /* Espace sous la navbar */
    border-radius: 0; /* Les coins ne sont pas arrondis */
}

.navbar:before{ /* Entourloupe pour pouvoir poser une ombre qui s'étente en dessous à droite et à gauche de la navbar */
    content: " ";
    position:absolute;
    width: 150%;
    right: 0;
    bottom: 0;
    height: 20px;
    z-index: 0;
    -moz-box-shadow: 0 5px 4px #656565;
    -webkit-box-shadow: 0 5px 4px #656565;
    box-shadow: 0 5px 4px #656565;
}

/*######################################################################################################################
# III - Navbar Tribu-Terre                                                                                             #
######################################################################################################################*/
.navbar-tribu-terre { /* Couleur de fond de base */
    background-color: var(--navbar-couleur-1);
}

.navbar-tribu-terre .nav .open > a,
.navbar-tribu-terre .nav .open > a:focus,
.navbar-tribu-terre .nav .open > a:hover { /* Couleur des boutons quand sélectionnés ou survolés */
    background-color: var(--navbar-couleur-2);
}

.navbar-tribu-terre .icon-bar { /* Couleur des ||| trois barres horizontales quand l'écran est trop petit pour ouvrir */
    background-color: var(--navbar-couleur-4);
}

.navbar-tribu-terre .navbar-nav .nav-link, /* Couleur du texte qui est affiché de base dans la navbar */
.navbar-tribu-terre .dropdown-toggle, /* Couleur du texte du menu d'ouverture du menu déroulant */
.navbar-tribu-terre .dropdown-item { /* Couleur de texte des items du menu déroulant */
    color: var(--navbar-couleur-4);
}

.navbar-tribu-terre .nav-item.active .nav-link,
.navbar-tribu-terre .nav-item:hover .nav-link,
.navbar-tribu-terre .dropdown a:hover,
.navbar-tribu-terre .dropdown a:focus,
.navbar-tribu-terre .dropdown-item.active,
.navbar-tribu-terre .dropdown-item:hover,
.navbar-tribu-terre .dropdown-item:focus { /* Couleur et background si un menu est survolé ou sélectionné */
    color: var(--navbar-couleur-4);
    background-color: var(--navbar-couleur-2);
}

.navbar-tribu-terre .nav-item.active:hover .nav-link,
.navbar-tribu-terre .dropdown-item.active:hover,
.navbar-tribu-terre .dropdown-item.active:focus,
.navbar-tribu-terre .dropdown a:focus:hover { /* Background si un menu est sélectionné ET survolé */
    background-color: var(--navbar-couleur-3);
}

.navbar-tribu-terre .dropdown-menu { /* Couleur de background de l'intérieur du menu déroulant */
    background-color: var(--navbar-couleur-1);
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- B --                                                      ###
###                                                                                                                  ###
###                                                    JUMBOTRON                                                     ###
########################################################################################################################
######################################################################################################################*/
.jumbotron { /* Retire la marge par défaut (vu qu'il faut coller la navbar) */
    background-image: url("../../-images/imgFondMarbre.png");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
}

.jumbotron p,
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5 { /* Lueur blanche autour du texte du jumbotron */
    text-shadow:
            5px 5px 5px #f3f3f3,
            -5px 5px 5px #f3f3f3,
            5px -5px 5px #f3f3f3,
            -5px -5px 5px #f3f3f3;
}

@media (max-width: 767px) { /* Le jumbotron ne sera pas fixe sur mobile (problèmes de performances) */
    .jumbotron {
        background-attachment: inherit;
    }
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- C --                                                      ###
###                                                                                                                  ###
###                                                    CAROUSELS                                                     ###
########################################################################################################################
######################################################################################################################*/
.carousel-images a,
.carousel-images a:hover { /* Les liens du carousel restent en blanc. */
    color: white;
}

.carousel-inner img { /* Images du carousel */
    width: 100%;
    min-height: 200px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- D --                                                      ###
###                                                                                                                  ###
###                                                   ALTERNATEURS                                                   ###
########################################################################################################################
######################################################################################################################*/
@media (max-width: 991px) {
    .alterneur-grand-tres-petit {
        display: none;
    }
    .alterneur-petit {
        display: block;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .alterneur-grand-moyen {
        display: none;
    }
}

@media (min-width: 992px) {
    .alterneur-petit {
        display: none;
    }
}

@media (max-width: 767px) {
    .alterneur-grand-tres-petit,
    .alterneur-grand-moyen {
        display: revert;
    }
    .alterneur-petit {
        display: none;
    }
}

@media (min-width: 767px) {
    .alterneur-mini {
        display: none;
    }
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- E --                                                      ###
###                                                                                                                  ###
###                                                      FOOTER                                                      ###
########################################################################################################################
######################################################################################################################*/
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.texte-footer {
    font-size: 10px;
    line-height: 10px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- F --                                                      ###
###                                                                                                                  ###
###                                                   PLAN DU SITE                                                   ###
########################################################################################################################
######################################################################################################################*/
.plan-du-site .list-group {
    margin-bottom: 0;
}

.plan-du-site .list-group-item-danger {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.plan-du-site .list-group-item-danger:hover {
    color: white;
    background-color:#c9302c;
    border-color:#761c19
}

.plan-du-site .list-group-item:not(.list-group-item-danger){
    padding: 15px 50px 15px 50px;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- G --                                                      ###
###                                                                                                                  ###
###                                                     ARRONDIS                                                     ###
########################################################################################################################
######################################################################################################################*/
.arrondi {
    border-radius: 10px;
    overflow: hidden;
}

.arrondi-mini {
    border-radius: 5px;
    overflow: hidden;
}

.img-arrondi {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.img-arrondi-mini {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- H --                                                      ###
###                                                                                                                  ###
###                                                      OMBRE                                                       ###
########################################################################################################################
######################################################################################################################*/
.well, .ombre {
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- I --                                                      ###
###                                                                                                                  ###
###                                              MISE EN PAGE DU TEXTE                                               ###
########################################################################################################################
######################################################################################################################*/
.retrait {
    text-indent: 4em;
}

.liste-retrait {
    padding-left: 3em;
    margin-bottom: 0;
}

.liste-retrait li {
    text-indent: 0;
    padding-left: 1em;
    margin-bottom: 10px;
}

.pc { /* Petites capitales */
    font-variant: small-caps;
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- J --                                                      ###
###                                                                                                                  ###
###                                              MISE EN PAGE DU TEXTE                                               ###
########################################################################################################################
######################################################################################################################*/
.well > h1, .well > h2, .well > h3, .well > h4, .well > h5 { /* On retire la marge sous les titres dans les wells */
    margin-top: 0;
}

a, a:hover { /* On change la couleur des liens vers du rouge */
    color: #dc3545;
}

.div-miniature-articles { /* Limite la largeur de la miniature des articles dans la page articles */
    max-width: 480px;
    display: inline-block;
}